@model IEnumerable<LunchTool.Web.ViewModels.AllUsersReportViewModel>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                ФИО сотрудника
            </th>
            <th scope="col">
                Количество заказов
            </th>
            <th scope="col">
                Стоймость заказов
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @item.UserName
                </td>
                <td>
                    @item.OrderCount
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </tbody>
</table>

