@model IEnumerable<LunchTool.Web.ViewModels.DishViewModel>
@{ 
    var i = 0;
}
<table class="table" id="DishesTable">
    <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Вес</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:none">
                    <input type="number" readonly value="@item.Id" name="dishesForOrderModel[@i].Id" />
                </td>
                <td scope="col">@item.Name</td>
                <td>@item.Weight</td>
                <td>@item.Price</td>
                <td>
                    <input type="number" step="1" name="dishesForOrderModel[@i].Count" id="Count" value="0" min="0" class="form-control" onclick="onCountChange()" />
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>