@model IEnumerable<LunchTool.Web.ViewModels.DishViewModel>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Название</td>
        <td>Вес</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Weight</td>
            <td>@item.Price</td>
            <td><input type="number" step="1" name="DishCount" value="0" class="form-control"/></td>
        </tr>
    }
</table>
