@{ 
    bool firstMenu = true;
}
@model IEnumerable<LunchTool.Web.ViewModels.MenuViewModel>

<label for="MenuId">Меню</label>
<select name="MenuId" id="MenuId">
    @foreach (var menu in Model)
    {
        if (firstMenu)
        {
            <option value="@menu.Id" selected="selected">@menu.Name</option>
            firstMenu = false;
        }
        else
        {
            <option value="@menu.Id">@menu.Name</option>
        }
    }
</select>