<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-unobrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body style="padding-top:0px; position: relative; background-image: url(/img/bg.jpg); background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="UserReport" asp-controller="Report">LunchTool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Order">Заказ</a>
                </li>
                @if (User.Identities.Any(u => u.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Administrator")))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Администрирование
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="Providers" asp-controller="Administration">Работа с поставщиками</a>
                            <a class="dropdown-item" asp-action="Menus" asp-controller="Administration">Работа с меню</a>
                            <a class="dropdown-item" asp-action="Dishes" asp-controller="Administration">Работа с блюдами</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Users" asp-controller="Administration">Работа с пользователями</a>
                        </div>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Отчет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="reportDropdown">
                        <a class="dropdown-item" asp-action="UserMonthReport" asp-controller="Report">Мой отчет за месяц</a>
                        @if (User.Identities.Any(u => u.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "Administrator")))
                        {
                            <a class="dropdown-item" asp-action="UserProvidersReport" asp-controller="Report">Отчет по сотруднику за период</a>
                            <a class="dropdown-item" asp-action="AllUsersReport" asp-controller="Report">Отчет по всем сотрудникам</a>
                        }
                            <a class="dropdown-item" asp-action="UserReport" asp-controller="Report">Заказы за текущую неделю</a>
                        </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link">
                    @String.Format("{0} {1}, роль: {2}", User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).FirstOrDefault(),
                                       User.Claims.Where(c => c.Type == ClaimTypes.GivenName).Select(c => c.Value).FirstOrDefault(),
                                       User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault())
                    </a>
                </li>
                <li>
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown" id="accountDrop">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Account">Профиль</a>
                        <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content bg-white">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
    @*<footer class="" style="position: absolute; width: 100%; bottom: 0px;">
        <div class="text-center bg-light">LunchTool</div>
    </footer>*@
</body>
