@model IEnumerable<LunchTool.Web.ViewModels.UserPageReportViewModel>


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                Дата
            </th>
            <th scope="col">
                Поставщик
            </th>
            <th scope="col">
                Блюда
            </th>
            <th scope="col">
                Цена
            </th>
        </tr>
    </thead>
    <thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OrderDate
                </td>
                <td>
                    @item.ProviderName
                </td>
                <td>
                    @item.Dishes
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </thead>
</table>
