@{
    ViewData["Title"] = "Изменение пароля";
}


<div class="row">
<form asp-action="ChangePassword" asp-controller="Account" method="post" class="card col-md-8 offset-md-2">
    <div class="form-group">
        <label for="OldPassword">Старый пароль</label>
        <input type="password" name="OldPassword" value="" class="form-control" pattern=".{8,12}" required title="Пароль должен содержать от 8 до 12 символов" />
    </div>
    <div class="form-group">
        <label for="NewPassword">Новый пароль</label>
        <input type="password" name="NewPassword" id="NewPassword" value="" class="form-control" pattern=".{8,12}" required title="Пароль должен содержать от 8 до 12 символов" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Потверждение пароля</label>
        <input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" class="form-control" pattern=".{8,12}" required title="Пароль должен содержать от 8 до 12 символов"/>
    </div>    
    <div class="form-group">
        <input type="submit" name="" id="btnSubmit" value="Изменить" class="btn btn-primary" />
    </div>
</form>
</div>

@section Scripts
{ 
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != confirmPassword) {
                alert("Пароли не совпадают.");
                return false;
            }
            return true;
        });
    });
</script>
}