@model LunchTool.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Пароль</label>
        <input type="password" name="Password" value="" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" name="" value="Потвердить" class="btn btn-primary" />
    </div>

</form>