@model LunchTool.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Пароль</label>
        <input type="password" name="Password" value="" class="form-control" pattern=".{8,12}" required title="Пароль должен содержать от 8 до 12 символов" />
    </div>
    <div class="form-group">
        <input type="submit" name="" value="Войти" class="btn btn-primary" />
    </div>

</form>
<a class="btn btn-secondary" asp-action="Register" asp-controller="Account">Регистрация</a>