@model LunchTool.Web.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<form asp-action="Register" asp-controller="Account" method="post">

    <div class="form-group">
        <label for="LastName">Фамилия</label>
        <input type="text" name="LastName" value="" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="FirstName">Имя</label>
        <input type="text" name="FirstName" value="" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="Patronymic">Отчество</label>
        <input type="text" name="Patronymic" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Username">Логин</label>
        <input type="text" name="Username" value="" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" value="" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Пароль</label>
        <input type="password" name="Password" id="Password" value="" required class="form-control" pattern=".{8,12}" title="Пароль должен содержать от 8 до 12 символов" />
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Повторите пароль</label>
        <input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Номер телефона</label>
        <input type="text" name="PhoneNumber" value="" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" name="" id="btnSubmit" value="Зарегестрироваться" class="btn btn-primary" />
    </div>

</form>

@section Scripts
{ 
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#Password").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (password != confirmPassword) {
                alert("Пароли не совпадают.");
                return false;
            }
            return true;
        });
    });
</script>
}