@{
    ViewData["Title"] = "Администрирование: блюда";
}

@model IEnumerable<LunchTool.Service.DTO.DishDTO>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Вес</td>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Weight</td>
        </tr>
    }
    </table>
