@{
    ViewData["Title"] = "Администрирование";
}

<a asp-action="Providers" asp-controller="Administration">Поставщики</a><br>
<a asp-action="Menus" asp-controller="Administration">Меню</a><br>
<a asp-action="Dishes" asp-controller="Administration">Блюда</a>
