@{
    ViewData["Title"] = "Последние заказы";
}

@model ValueTuple<DateTime, DateTime>

<div class="row">
    <div class="col-4">
        <label for="FromDate">От</label>
        <input type="date" name="FromDate" id="FromDate" value="@Model.Item1.ToString("yyyy-MM-dd")" />
    </div>
    <div class="col-4">
        <label for="ToDate">До</label>
        <input type="date" name="ToDate" id="ToDate" value="@Model.Item2.ToString("yyyy-MM-dd")" />
    </div>
    <div class="col-4">
        <a class="btn btn-primary" html="javascript:void(0);" onclick="makeReport()">Составить</a>
    </div>
</div>

<button class="btn btn-info" onclick="makeReportPdf()" style="display:none;" id="reportPdf">Сделать PDF</button>

<div id="result">

</div>

@section Scripts
    {
    <script>

        $.post("/Report/UserReport", { "FromDate": $("#FromDate").val(), "ToDate": $("#ToDate").val() }).done(function (result) {
            if (result === "") {
                $("#reportPdf").hide();
                $("#result").html("За данную неделю нет заказов.");
            }
            else {
                $("#result").html(result);
                $("#reportPdf").show();
            }
        });
        function makeReport() {
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();

            $.ajax({
                url: "/Report/UserReport",
                method: "POST",
                data: { "FromDate": fromDate, "ToDate": toDate },
                success: function (result) {
                    if (result === "") {
                        $("#reportPdf").hide();
                        $("#result").html("За данный промежуток нет заказов.");
                    }
                    else {
                        $("#result").html(result);
                        $("#reportPdf").show();
                    }
                }
            });
        }

        function makeReportPdf() {
            var prehtml = 'Отчет для пользователя: @String.Format("{0} {1}",
            User.Claims.Where(c => c.Type == ClaimTypes.NameIdentifier).Select(c => c.Value).FirstOrDefault(),
            User.Claims.Where(c => c.Type == ClaimTypes.GivenName).Select(c => c.Value).FirstOrDefault())' +
                ' с ' + $("#FromDate").val() + ' по ' + $("#ToDate").val();
            $.post("/Report/MakePdf", { "html": prehtml + $("#result").html(), "userName": @int.Parse(User.Identity.Name) }).done(function (message) {
                window.location.href = "/Report/Download/?fileName=" + message;
            });
        }

    </script>
}