@{
    ViewData["Title"] = "Заказ";
    bool first = true;
}

@model IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>

<div>
<label for="ProviderId">Поставщик</label>
    <select name="ProviderId" id="ProviderId">
        @foreach (var provider in Model)
        {
            if (first)
            {
                <option value="@provider.Id" selected="selected">@provider.Name</option>
                first = false;
            }
            else
            {
                <option value="@provider.Id">@provider.Name</option>
            }
        }
    </select>
</div>

<div id="menus">

</div>

<form asp-action="MakeOrder" asp-controller="Order" method="post" class="card col-md-8 offset-md-2">
    <div id="dishes" class="form-group">

    </div>
    <div class="form-group row" style="margin-left:0; margin-right:0;"> 
        <div class="col-2">
            <p>  Цена(руб.): <span id="Price">0</span> </p>
        </div>
        <div class="col-6"></div>
        <input type="submit" name="" value="Потвердить" class="btn btn-primary col-4"/>
    </div>
</form>


<script>

    function onCountChange()
    {
        var sum = 0;
        let temp = $('tr');
        for (var i = 1; i < temp.length; i++) {
            var price = parseFloat(temp[i].children[3].innerHTML.replace(',','.'));
            console.log(price);
            var count = parseFloat(temp[i].children[4].firstElementChild.value);
            console.log(count);
            sum += price * count;
        }
        var result = Math.round(sum * 100) / 100;
        $("#Price").html(result.toString().replace('.', ','));
    }

    function addMenuListener()
    {
        $.post("Order/GetDishesById/", { id: $("#MenuId").val() }).done(function (result) { $("#dishes").html(result); });
        $("#MenuId").change(function () {
            var id = $(this).val();
            $.ajax({
                type: "POST",
                url: "Order/GetDishesById/",
                data: { "id": id },
                success: function (result) {
                    $("#dishes").html(result);
                }
            });
        });

    }


    $.post("Order/GetMenusById/", { id: $("#ProviderId").val() }).done(function (result) {
        $("#menus").html(result);
        addMenuListener();
    });

    $("#ProviderId").change(function () {
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "Order/GetMenusById/",
            data: { "id": id },
            success: function (result) {
                $("#menus").html(result);
                addMenuListener();
            }
        });
    });
</script>

