@{
    ViewData["Title"] = "Заказ";
    bool first = true;
}

@model IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>

<div>
<label for="ProviderId">Поставщик</label>
    <select name="ProviderId" id="ProviderId">
        @foreach (var provider in Model)
        {
            if (first)
            {
                <option value="@provider.Id" selected="selected">@provider.Name</option>
                first = false;
            }
            else
            {
                <option value="@provider.Id">@provider.Name</option>
            }
        }
    </select>
</div>

<div id="menus">

</div>

<form asp-action="MakeOrder" asp-controller="Order" method="post" class="card col-md-8 offset-md-2">
    <div id="dishes" class="form-group">

    </div>
    <div class="form-group">
        <input type="submit" name="" value="Потвердить" class="btn btn-primary" />
    </div>
</form>


<script>

    function addMenuListener()
    {
        $.post("Order/GetDishesById/", { id: $("#MenuId").val() }).done(function (result) { $("#dishes").html(result); });
        $("#MenuId").change(function () {
            var id = $(this).val();
            console.log(id);
            $.ajax({
                type: "POST",
                url: "Order/GetDishesById/",
                data: { "id": id },
                success: function (result) {
                    $("#dishes").html(result);
                }
            });
        });
    }
    $.post("Order/GetMenusById/", { id: $("#ProviderId").val() }).done(function (result) {
        $("#menus").html(result);
        addMenuListener();
    });

    $("#ProviderId").change(function () {
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "Order/GetMenusById/",
            data: { "id": id },
            success: function (result) {
                $("#menus").html(result);
                addMenuListener();
            }
        });
    });

</script>

